.backgroundImage {
    background-image: url('./music 1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.mainText {
    color: rgb(255, 197, 255);
    font-family: 'Tilt Neon', cursive;
}

#homePage {
    text-align: center;
    padding-top: 30px;
    padding-left: 440px;
    padding-right: 440px;
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
}

.startButton {
    font-size: 30px;
    text-align: center;
    color: rgba(232, 102, 236, 1);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
}

.largeButton {
    margin-top: 50px;
    padding: 25px;
}
      
.startButton:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%);
    color: aqua;
}

#container {
    margin-top: 90px;
    text-align: center;
    font-size: 35px;
}

h1 {
    text-align: center;
    color: rgb(255, 197, 255);
    font-family: 'Tilt Neon', cursive;
}
    
h3 {
    text-align: center;
    color: rgb(255, 197, 255);
    font-family: 'Tilt Neon', cursive;
}

a {
    font-size: 30px;
    text-align: center;
    color: rgba(232, 102, 236, 1);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
}

a:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%);
    color: aqua;
}

footer {
    bottom: 0;
    color: aliceblue;
}

.absolute {
    position: absolute;
}
